Ensure data is in proper format for Power BI dashboarding

In [1]:
import pandas as pd

C:\Users\katon\AppData\Roaming\Python\Python38\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [13]:
path = "C:/Users/Katon/Documents/JHU/DataVisualization/final_project/data/final_data/"

# non-projections
population = pd.read_excel(path+"population.xlsx")#.set_index('State')
housing = pd.read_excel(path+"housing.xlsx")#.set_index('State')
homeless = pd.read_excel(path+"homeless.xlsx")#.set_index('State')
hpi = pd.read_excel(path+"hpi.xlsx")#.set_index('State')

In [9]:
population.head(3)

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,...,2031,2032,2033,2034,2035,2036,2037,2038,2039,2040
State,,,,,,,,,,,,,,,,,,,,,
US,309321666,311556874,313830990,315993715,318301008,320635163,322941311,324985539,326687501,328239523,...,3.557878e+08,3.579295e+08,3.600712e+08,3.622129e+08,3.643546e+08,3.664963e+08,3.686380e+08,3.707797e+08,3.729214e+08,3.750632e+08
AL,4785437,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,4903185,...,5.171836e+06,5.174533e+06,5.177229e+06,5.179925e+06,5.182622e+06,5.185318e+06,5.188015e+06,5.190711e+06,5.193407e+06,5.196104e+06
AK,713910,722128,730443,737068,736283,737498,741456,739700,735139,731545,...,7.690473e+05,7.718240e+05,7.746006e+05,7.773772e+05,7.801539e+05,7.829305e+05,7.857071e+05,7.884837e+05,7.912604e+05,7.940370e+05

In [22]:
population_long = pd.melt(population, id_vars='State', var_name='Year', value_name='Population').set_index(['State', 'Year'])
housing_long = pd.melt(housing, id_vars='State', var_name='Year', value_name='Housing').set_index(['State', 'Year'])
homeless_long = pd.melt(homeless, id_vars='State', var_name='Year', value_name='Homeless').set_index(['State', 'Year'])
hpi_long = pd.melt(hpi, id_vars='State', var_name='Year', value_name='HPI').set_index(['State', 'Year'])

In [25]:
features_df = pd.concat([population_long, housing_long, homeless_long, hpi_long], axis=1)

In [26]:
features_df.isnull().sum(axis=1).astype(bool).sum()

2836

In [28]:
features_df.to_excel(path+'all_features.xlsx')

<ipython-input-28-710b9792db70>:1: UserWarning: Pandas requires version '1.4.3' or newer of 'xlsxwriter' (version '1.3.7' currently installed).
  features_df.to_excel(path+'all_features.xlsx')

In [99]:
# projections
hpi_projections = pd.read_excel(path+'final_hpi_projections.xlsx', header=[0,1])
homeless_projections = pd.read_excel(path+'final_homeless_projections.xlsx', header=[0,1])

In [100]:
hpi_projections.set_index(('Unnamed: 0_level_0', 'Percent of Current Housing Construction'), inplace=True)
homeless_projections.set_index(('Unnamed: 0_level_0', 'Percent of Current Housing Construction'), inplace=True)

In [109]:
hpi_projections.head()

                                                            NE              \
                                                          2023        2024
(Unnamed: 0_level_0, Percent of Current Housing...
25                                                  729.009817  782.642263
50                                                  729.009878  782.642507
75                                                  729.009817  782.642751
100                                                 729.010000  782.642690
125                                                 729.010000  782.642812

                                                                            \
                                                          2025        2026
(Unnamed: 0_level_0, Percent of Current Housing...
25                                                  836.573660  890.602468
50                                                  836.574270  890.603262
75                                                  836.574819  890.604116
100                                                 836.575430  890.604910
125                                                 836.576101  890.605703

                                                                            \
                                                          2027        2028
(Unnamed: 0_level_0, Percent of Current Housing...
25                                                  944.949697  999.310415
50                                                  944.949636  999.310476
75                                                  944.949331  999.310415
100                                                 944.949148  999.310232
125                                                 944.948965  999.310171

                                                                              \
                                                           2029         2030
(Unnamed: 0_level_0, Percent of Current Housing...
25                                                  1053.734426  1108.194265
50                                                  1053.733328  1108.193044
75                                                  1053.732351  1108.191946
100                                                 1053.731130  1108.190603
125                                                 1053.730276  1108.189749

                                                                              \
                                                           2031         2032
(Unnamed: 0_level_0, Percent of Current Housing...
25                                                  1162.680105  1217.171560
50                                                  1162.678884  1217.169851
75                                                  1162.677175  1217.168142
100                                                 1162.675588  1217.166311
125                                                 1162.674124  1217.164724

                                                    ...           MI  \
                                                    ...         2030
(Unnamed: 0_level_0, Percent of Current Housing...  ...
25                                                  ...  1095.957556
50                                                  ...  1095.956091
75                                                  ...  1095.954749
100                                                 ...  1095.953040
125                                                 ...  1095.951697

                                                                              \
                                                           2031         2032
(Unnamed: 0_level_0, Percent of Current Housing...
25                                                  1150.332556  1204.765540
50                                                  1150.331091  1204.762610
75                                                  1150.329504  1204.759558
100                                                 1150.327917  1204.756140
125                                                 1150.326331  1204.753210

                                                                              \
                                                           2033         2034
(Unnamed: 0_level_0, Percent of Current Housing...
25                                                  1259.225012  1313.688391
50                                                  1259.221838  1313.686560
75                                                  1259.218420  1313.684363
100                                                 1259.215002  1313.682654
125                                                 1259.211584  1313.680701

                                                                              \
                                                           2035         2036
(Unnamed: 0_level_0, Percent of Current Housing...
25                                                  1368.168738  1422.655432
50                                                  1368.167029  1422.653845
75                                                  1368.164709  1422.652747
100                                                 1368.162878  1422.651648
125                                                 1368.160559  1422.650305

                                                                              \
                                                           2037         2038
(Unnamed: 0_level_0, Percent of Current Housing...
25                                                  1477.160315  1531.665564
50                                                  1477.159216  1531.663977
75                                                  1477.157629  1531.662634
100                                                 1477.156531  1531.661169
125                                                 1477.155066  1531.660071


                                                           2039
(Unnamed: 0_level_0, Percent of Current Housing...
25                                                  1586.170691
50                                                  1586.168982
75                                                  1586.167639
100                                                 1586.166174
125                                                 1586.164587

[5 rows x 867 columns]

In [112]:
hpi_projections.columns[0]

('NE', 2023)

In [122]:
hpi_projections.loc[25, ('NE', 2023)]

729.0098168945312

In [118]:
unique_states = list(set([col_name[0] for col_name in hpi_projections.columns]))
unique_years = list(set([col_name[1] for col_name in hpi_projections.columns]))

In [123]:
state_list, year_list, pct_list, hpi_list, homeless_list = [], [], [], [], []
for state in unique_states:
    for year in unique_years:
        for pct in hpi_projections.index:
            state_list.append(state)
            year_list.append(year)
            pct_list.append(pct)
            hpi_list.append(hpi_projections.loc[pct, (state, year)])
            homeless_list.append(homeless_projections.loc[pct, (state, year)])

In [126]:
projections_df_final = pd.DataFrame([state_list, year_list, pct_list, hpi_list, homeless_list]).T
projections_df_final.columns = ['State', 'Year', 'Percent_of_Current_Housing_Construction', 'HPI', 'Homeless']

In [127]:
projections_df_final

,State,Year,Percent_of_Current_Housing_Construction,HPI,Homeless
0,OH,2023,25,608.659756,10622.770508
1,OH,2023,50,608.659878,10633.180664
2,OH,2023,75,608.659817,10643.586914
3,OH,2023,100,608.66,10654.0
4,OH,2023,125,608.66,10664.408203
...,...,...,...,...,...
10399,ID,2039,200,2021.322092,6293.945312
10400,ID,2039,225,2021.310862,6336.205078
10401,ID,2039,250,2021.300486,6378.472656
10402,ID,2039,275,2021.289744,6420.735352
10403,ID,2039,300,2021.279001,6462.999023

In [128]:
projections_df_final.to_excel(path+'all_projections.xlsx')

<ipython-input-128-8806ee823020>:1: UserWarning: Pandas requires version '1.4.3' or newer of 'xlsxwriter' (version '1.3.7' currently installed).
  projections_df_final.to_excel(path+'all_projections.xlsx')